<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
</head>
<body><div id="container">
    
        <form action="login" method="POST">
            {% csrf_token %}
    <label for="username">ENTER USERNAME :</label><input type="text" name="username" >
    <label for="password">ENTER PASSWORD :</label><input type="password" name="password">
    <input type="submit" value="login"></form>
    </div>
    {% for message in messages %}
    <p>{{message}}</p>
    {% endfor %}
</body><style>html,body{
    height:100%;
    width:100%;
    padding:0;
    margin:0;
    display: flex;
    justify-content: center;align-items: center;
}form{display: flex;flex-direction: column;background-color: aqua;padding :50px;}#container{background-color: black;
    display: flex;
}
</style>
</html>