<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="edit" method="POST">
        {% csrf_token %}
    <input type="text" name="task" placeholder="edit">
    <input type="submit" value="edit">
    </form>
     {% for task in tasks%}
        <div id="task"> 
            <div>
         {{task.task}}<br>{{task.date}}</div>

       
        </div>
        {% endfor %}
</body><style>
    #task{
        display: flex;
        justify-content: space-between;

    }
</style>
</html>