<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>todo</title>
</head>
<body><div class="container">
    <div>
        <h2>let us remind you:)</h2><a href="{% url 'logout' %}">logout</a>
        <h3>tasks todo</h3>
        <form action="todo" method="POST">
            {% csrf_token %}
        <input type="text" name="task" id="inp" placeholder="enter the task to add">
        <input type="datetime-local" name="date" id="date">
      
        <input type="submit">
        </form>
        {% for task in tasks%}
        <div id="task"> 
       {{task.task}}<br>{{task.date}}

        <a href="{% url 'edit' task.id %}" name="edit">edit</a>
        </div>
        {% endfor %}

    </div></div>
    <style>#task{background-color: yellow;padding: 50px;}
        #task{
        display: flex;
        justify-content: space-between;
        background-color: blue;
        margin-top: 10px;
        margin-bottom: 10px;
        border-radius: 10px;
        width:100%;

       
    }
    .container{
        width:100%;
        height:100%;
        display:flex;
        justify-content: center;
        
       

    }
    </style>
</body>
</html>