<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="verify2" method="GET">
        <label for="username">ENTER THE USERNAME :</label><input type="text" name="username" id="username">
        <label for="password">ENTER THE PASSWORD :</label><input type="password" name="password" id="password">
        <input type="submit" placeholder="login">
    </form>
    {% for message in messages %}
    {% if 'no' in message.tags %}
    <h2>{{message}}</h2>
    {% endif %}
    {% endfor %}
</body>
</html>